# Redirect to default.php when there is nothing after the domain
RewriteRule ^$ /default.php [L]

# Rewrite any other requests with a parameter
RewriteRule ^([^/]+)/?$ /?vendorURL=$1 [L,QSA]

# Rewrite any other requests with a parameter
RewriteRule ^([^/]+)/?$ /?vendorURL=$1 [L,QSA]